@use '../utils/' as *;
@use '../base/typography';

.footer {
	font-size: 1rem;
	padding: 1.5rem 0;
	border-top: 1px solid $terciary-color;

	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@include breakpoint(420px) {
			display: block;
			text-align: center;
		}
	}
	&__wrapper_left {
		display: flex;
		align-items: center;
		.logo {
			width: 100px;
			max-width: 100%;
		}
	}

	&__menu {
		display: flex;

		li a {
			padding: 1rem 0 1rem 1.5rem;

			&.active {
				color: $primary-color;
				transform: rotate(-20deg);
			}
		}
	}

	&__social {
		display: flex;
		gap: 10px;

		.social_icons {
			color: $text-dark;
		}
	}
}
