@use '../utils/' as *;

.navbar {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	padding: 1rem 0;
	background: transparent;
	transition: all 5s ease-in-out;

	// &__scrolled {
	// 	background: rgba(237, 237, 237, 0.1);
	// 	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	// 	backdrop-filter: blur(2.5px);
	// 	-webkit-backdrop-filter: blur(2.5px);
	// 	border-radius: 10px;
	// border-bottom: 1px solid $text-dark;
	// }

	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.logo {
		width: 150px;
		max-width: 100%;
	}

	&__menu {
		display: flex;
		align-items: center;

		li a {
			padding: 0 1.25rem;
			&.active {
				color: $primary-color;
				transform: rotate(-20deg);
			}
			@include breakpoint(960px) {
				display: inline-block;
				padding: 2rem 0;
			}
		}

		@include breakpoint(960px) {
			position: fixed;
			width: 0%;
			height: 100%;
			flex-direction: column;
			text-align: center;
			background: $primary-color;
			top: 0;
			right: -100%;
			padding: 10rem 1rem;
			transition: all 750ms ease;
			opacity: 0;

			&.active {
				right: 0;
				width: 50%;
				height: 100%;
				opacity: 1;
			}
		}
	}

	// &__hamburger {
	// 	display: none;
	// 	cursor: pointer;

	// 	@include breakpoint(991px) {
	// 		display: block;

	// 		&.active .bar:nth-child(1) {
	// 			transform: translateY(8px) rotate(45deg);
	// 		}
	// 		&.active .bar:nth-child(2) {
	// 			opacity: 0;
	// 		}
	// 		&.active .bar:nth-child(3) {
	// 			transform: translateY(-8px) rotate(-45deg);
	// 		}
	// 	}

	// 	.bar {
	// 		display: block;
	// 		width: 25px;
	// 		height: 3px;
	// 		margin: 5px auto;
	// 		transition: all 500ms ease-in-out;
	// 		background-color: $color-light;
	// 	}
	// }
}
