@use '../utils/' as *;

.navbar {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	padding: 1rem 0;
	background: transparent;
	transition: all 5s ease-in-out;

	// &__scrolled {
	// 	background: rgba(237, 237, 237, 0.1);
	// 	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	// 	backdrop-filter: blur(2.5px);
	// 	-webkit-backdrop-filter: blur(2.5px);
	// 	border-radius: 10px;
	// border-bottom: 1px solid $text-dark;
	// }

	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.logo {
		width: 150px;
		max-width: 100%;
	}

	&__menu {
		display: flex;
		align-items: center;

		li a {
			padding: 0 1.25rem;
			&.active {
				color: $primary-color;
			}
			@include breakpoint(960px) {
				display: inline-block;
				padding: 2rem 0;
			}
		}

		@include breakpoint(960px) {
			position: fixed;
			width: 0%;
			height: 100%;
			flex-direction: column;
			text-align: center;
			background: $primary-color;
			top: 0;
			right: -100%;
			padding: 10rem 1rem;
			transition: all 750ms ease;
			opacity: 0;

			&.active {
				right: 0;
				width: 100%;
				height: 40%;
				opacity: 1;
			}
		}
	}

	.burger {
		&__wrapper {
			display: none;
			cursor: pointer;
			position: relative;
			user-select: none;

			input {
				position: absolute;
				opacity: 0;
				cursor: pointer;
				height: 0;
				width: 0;
			}

			@include breakpoint(991px) {
				display: block;
			}

			&.checked {
				input:checked + .burger__btn span:nth-child(1) {
					top: 50%;
					transform: translateY(-50%) rotate(45deg);
				}

				input:checked + .burger__btn span:nth-child(2) {
					top: 50%;
					transform: translateY(-50%) rotate(-45deg);
				}

				input:checked + .burger__btn span:nth-child(3) {
					transform: translateX(-50px);
					opacity: 0;
				}
			}
		}
		&__btn {
			position: relative;
			top: 0;
			left: 0;
			height: 1.3em;
			width: 1.3em;
			.bar {
				width: 32px;
				height: 2px;
				// margin: 5px auto;
				position: absolute;
				transition: all 0.3s ease-in-out;
				background-color: $text-dark;
				&:nth-child(1) {
					top: 10%;
				}

				&:nth-child(2) {
					top: 50%;
				}

				&:nth-child(3) {
					top: 90%;
				}
			}
		}
	}
}
