@use '../utils/' as *;

.accordion {
	width: 100%;

	@include md {
		width: 50%;
	}

	&__heading {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1.5rem 1.5rem;
		border: none;
		border-bottom: $sec-color2-border2;
		background-color: $background-light;
		cursor: pointer;

		&__title {
			transition: $transition-cubic;
			&.active,
			&:hover {
				color: $primary-color;
			}
		}
		&__arrow {
			display: block;
			position: relative;
			&.active .bar:nth-child(1) {
				transform: translateY(-50%);
			}
			.bar {
				display: block;
				width: 20px;
				height: 1px;
				position: absolute;
				right: 10px;
				background-color: $text-dark;
				transition: $transition-cubic, background 0.35s;

				&:nth-child(1) {
					transform: rotate(90deg);
				}
			}
		}
	}

	&__content {
		overflow: hidden;
		height: 0;
		transition: $transition-cubic;

		&.active {
			height: auto;
		}
		ul {
			display: flex;
			justify-content: space-around;
			align-items: center;
			padding: 3rem 1rem;
			li {
				width: 25%;
			}
		}
	}
}
