@use '../utils/' as *;

.btn {
	display: inline-block;
	text-transform: uppercase;
	font-weight: 600;
	padding: 0.625em 1.25em;
	position: relative;
	cursor: pointer;
	border: $prim-color2-border1;
	background-color: $background-light;
	overflow: hidden;
	border-radius: 30px;
	color: $text-dark;
	transition: $transition-cubic-btn;
	position: relative;
	z-index: 1;

	&::after {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		transition: $transition-cubic-btn;
		background-color: $primary-color;
		border-radius: 30px;
		visibility: hidden;
		height: 10px;
		width: 10px;
		z-index: 1;
	}

	&:hover {
		box-shadow: 1px 1px 200px $text-dark;
		color: $text-dark;
		background-color: $primary-color;
	}
	&:hover::after {
		visibility: visible;
		transform: scale(100) translateX(2px);
		z-index: -1;
	}
	&__inverse {
		&::after {
			background-color: $tertiary-color;
		}
		&:hover {
			background-color: $tertiary-color;
		}
	}
	&__bg-color {
		background-color: $primary-color;
		&::after {
			background-color: $background-light;
		}
		&:hover {
			background-color: $background-light;
		}
	}
	&__bg-color__inverse{
	background-color: $tertiary-color;
		&::after {
			background-color: $background-light;
		}
		&:hover {
			background-color: $background-light;
		}
	}
	&__round {
		background-color: $tertiary-color;
		border-radius: 50%;
		padding: 0.8em 1.25em;
		&::after {
			background-color: $background-light;
		}
		&:hover {
			background-color: $background-light;
		}
	}
	&__hide {
		@include breakpointMobile(960px) {
			display: none;
		}
	}

	&__mg-right__desktop {
		@include breakpointDesktop(390px) {
			margin: 0 1rem 0 auto;
		}
	}

	&__mg-right {
		margin: 0 1rem 0 auto;
	}

	&__mg-top {
		margin-top: 2rem;
	}
	&__mg-left {
		@include breakpointMobile(493px) {
			margin-left: -7rem;
		}
	}
}
