@use '../utils/' as *;

.btn {
	display: inline-block;
	font-size: 1rem;
	font-weight: 600;
	padding: 0.625em 1.25em;
	position: relative;
	background-color: $background-light;
	cursor: pointer;
	border: $card-border;
	overflow: hidden;
	border-radius: 30px;
	color: $text-dark;
	transition: all 0.5s ease-in-out;
	

	&.effect::after {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		transition: all 0.5s ease-in-out;
		background-color: $fourth-color;
		border-radius: 30px;
		visibility: hidden;
		height: 10px;
		width: 10px;
		z-index: -1;
	}

	&:hover {
		box-shadow: 1px 1px 200px #252525;
		color: $text-dark;
		
		background-color: $fourth-color;
	}
	&.effect:hover::after {
		visibility: visible;
		transform: scale(100) translateX(2px);
	}

	&__hide {
		@include breakpointMobile(960px) {
			display: none;
		}
	}

	&__mg-right__desktop {
		@include breakpointDesktop(390px) {
			margin: 0 2rem 0 auto;
		}
	}

	&__mg-right {
		margin: 0 2rem 0 auto;
		display: flex;
	}

	&__mg-left {
		@include breakpointMobile(493px) {
			margin-left: -7rem;
		}
	}

	&__mg-top {
		margin-top: 2rem;
	}
}
