@use '../utils/' as *;

.btn-save {
	margin: -3rem 1.5rem 0 auto;
	width: 50px;
	height: 50px;
	border: 1px solid $text-dark;
	border-radius: 50%;
	background-color: $text-dark;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	position: relative;
	transition-duration: 0.3s;

	&__svg {
		fill: $background-light;
	}
	&__icon {
		width: 18px;
		height: 5px;
		border: 2px solid $primary-color;
		border-top: unset;
	}

	&:hover {
		background-color: $primary-color;
		transition-duration: 0.3s;

		.btn-save__icon {
			border: 2px solid $background-light;
			border-top: unset;
		}
		.btn-save__svg {
			fill: $background-light;
			animation: slide-in-top 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
		}
	}
	@keyframes slide-in-top {
		0% {
			transform: translateY(-10px);
			opacity: 0;
		}

		100% {
			transform: translateY(0px);
			opacity: 1;
		}
	}
	&__mg-top__mobile {
		@include breakpointMobile(443px) {
			margin-top: 0;
		}
	}
}
