@use '../utils/' as *;

.form {
	display: flex;
	flex-direction: column;
	max-width: 500px;
	min-width: 300px;
	background: rgba($terciary-color, 0.2);
	border: 1px solid $terciary-color;
	padding: 2rem;
	border-radius: 10px;


	@include md {
		padding: 3rem;
	}

	&__bg-color{
		background: $primary-color;
	}

	&__description {
		margin-bottom: 2rem;
		@include md {
			margin-bottom: 3rem;
		}
	}
	&__information {
		width: 100%;
		padding: 1rem;
		margin-bottom: 1rem;
		outline: none;
		border: none;
		background: transparent;
		border-left: 2px solid $text-dark;
		border-bottom: 2px solid $text-dark;
		transition: 0.1s;
		border-bottom-left-radius: 8px;
		@include md {
			margin-bottom: 2rem;
		}
	}
	&__error {
		color: $alert-color;
		margin: -1.25rem 0 1.5rem 0;
	}
	textarea {
		width: 100%;
		padding: 1rem;
		margin-bottom: 1.5rem;
		outline: none;
		border: none;
		background: transparent;
		border: 2px solid $text-dark;
		border-radius: 8px;
		@include md {
			margin-bottom: 2.5rem;
		}
	}
}
