@use '../utils/' as *;

.form {
	display: flex;
	flex-direction: column;
	max-width: 500px;
	min-width: 300px;
	padding: 2rem;

	@include md {
		padding: unset;
	}

	&__bg-transparent {
		background: transparent;
	}

	&__bg-color {
		background: $primary-color;
	}

	&__description {
		margin-bottom: 2rem;
		@include md {
			margin-bottom: 3rem;
		}
	}
	&__information,
	.textarea__custom {
		width: 100%;
		padding: 1rem;
		outline: none;
		border: none;
		background: transparent;
	}
	&__information {
		margin-bottom: 2rem;

		border-left: $prim-color2-border1;
		border-bottom: $sec-color2-border2;
		transition: 0.1s;
		border-bottom-left-radius: 8px;
	}

	&__selector {
		margin-bottom: 2rem;
		line-height: 2;
	}
	&__error {
		color: $error-color;
		margin-bottom: -1.25rem 0 1.5rem 0;
	}
	.textarea__custom {
		height: 120px;
		resize: none;

		border: $sec-color2-border2;
		border-radius: 8px;
	}

	&__btn {
		display: flex;
		justify-content: flex-end;
		gap: 0.75rem;
		margin-right: 1rem;
	}
	&__post {
		padding: unset;
	}
}
