@use '../utils/' as *;

.trail {
    position: fixed;
    top: 0;
    left: 0;
    width: 400px;
    height: 400px;
    z-index: 1000;
    
    & path {
        fill: none;
        stroke: $text-dark;
        stroke-width: 8px;
        stroke-linecap: round;
        stroke-linejoin: round;
    }
}