@use '../utils/' as *;
.photo__wrapper,
.btn-upload__wrapper {
	position: relative;

}
.btn-upload__wrapper {
	margin-bottom: 3rem;
	button {
		position: absolute;
		top: calc(50% - 1.1rem);
		left: calc(50% - 4.5rem);
	}
}
.photo__wrapper {
	button {
		position: absolute;
		bottom: 5%;
		right: 5%;
	}
}
