@use '../utils/' as *;

.contact {
	&__information__wrapper {
		margin: 7rem 0;
		display: flex;
		flex-wrap: wrap;
		gap: 3rem;
		justify-content: space-between;

		#map {
			@include breakpointMobile(1145px) {
				margin: 0 auto;
			}
		}
	}
	&-form__wrapper {
		margin-bottom: 10rem;
	}
	&__information__details {
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}
	&__details_schedule p {
		line-height: 1.75;
	}
}
