@use '../utils/' as *;

.contact {
	&__wrapper {
		margin: 10rem 0 7rem 0;
	}
	&__information__wrapper {
		display: flex;

		justify-content: space-between;
	}
	&-form__wrapper {
		margin-bottom: 10rem;
	}
	&__information__details {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		&_schedule {
			line-height: 2;
		}
	}
}
