@use '../utils/' as *;
.exercise {
	&__wrapper {
		margin-top: 10rem;
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		gap: 2rem;
		@include md {
			flex-direction: row;
		}
		h3,
		h4 {
			text-transform: capitalize;
			margin-bottom: 3rem;
		}
	}
	&-intro__card,
	&-instructions__card {
		@include cardTransparent;
	}
	&-intro {
		&__card {
			background-color: $tertiary-color;
			@include md {
				width: 43%;
			}
		}
		&__targets {
			display: flex;
			margin: 1rem 0 2rem 0;
			display: flex;
			flex-wrap: wrap;
			row-gap: 0.5rem;
			text-transform: capitalize;
			span {
				padding: 0.625rem 1.25rem;
				margin-right: 0.5rem;

				border: 1px solid $text-dark;
				border-radius: 30px;
			}
		}
	}
	&-instructions__card {
		@include md {
			width: 57%;
		}
	}
}

.instructions {
	&__wrapper {
		display: flex;
		padding-bottom: 1.5rem;
		align-content: flex-start;
		gap: 0.75rem;
	}
	&__number {
		opacity: 0.7;
		color: $primary-color;
		line-height: 0.75;
		font-family: $headings-font;
		font-weight: 500;
		font-size: 2rem;
	}
}
