@use '../utils/' as *;

.evaluation {
	min-height: $min-height;
	&__wrapper {
		margin: 10rem 0;
		display: grid;
		justify-content: center;

		gap: 2rem;
		grid-template-columns: minmax(300px, 600px);
		grid-template-rows: auto;
		grid-template-areas:
			'form'
			'bmi'
			'exercises';

		@include breakpointDesktop(1000px) {
			grid-template-columns: repeat(3, 1fr);

			grid-template-areas:
				'form bmi bmi '
				'exercises exercises exercises';
		}
		.bmi__wrapper,
		.fitness-plan__wrapper,
		.exercisedb__wrapper {
			@include cardTransparent;
		}
		#fitness_evaluation_form {
			grid-area: form;
		}
		#bmi_info {
			grid-area: bmi;
		}
		#fitness_plan {
			grid-area: exercises;
		}
		.bmi-value__wrapper {
			text-align: center;
			margin: 4rem 0 4rem 0;
			p {
				font-weight: 700;
				font-size: 3.05rem;
				margin-bottom: 0.5rem;
			}
			span {
				text-transform: uppercase;
			}
			.underweight {
				color: $scale-low-color;
			}
			.normal-weight {
				color: $tertiary-color;
			}
			.overweight {
				color: $primary-color;
			}
			.obese {
				color: $scale-high-color;
			}
		}
		.fitness-plan {
			&__container {
				display: flex;
				width: 100%;
				gap: 2rem;
				
			}
			&__wrapper {
				width: 60%;
			}
			&__card {
				display: flex;
				flex-direction: column;
				p,
				ol {
					margin: 1rem 0 3rem 0;
				}

				li {
					line-height: 1.75;
					list-style-position: inside;

					&::marker {
						font-family: $headings-font;
						font-weight: 700;
					}
				}
			}
		}
	}
}
