@use '../utils/' as *;

.hero {
	&__wrapper {
		display: flex;
		padding-top: 7rem;

		@include breakpoint(991px) {
			flex-wrap: wrap;
			padding-top: 3rem;
		}
	}

	&__content {
		width: 65%;
		padding: 10rem 3rem 0 0;
		flex: 0 0 auto;

		@include breakpoint(991px) {
			width: 100%;
			text-align: center;
			padding: 0 0 3rem 0;
		}
		p {
			margin: 2rem 0 2.5rem 0;
			line-height: 1.5;
		}
	}

	&__image {
		width: 35%;
		flex: 0 0 auto;
		@include breakpoint(991px) {
			width: 100%;
			margin: 0 auto;
		}
	}
}
