@use '../utils/' as *;

.hero {
	&__wrapper {
		display: flex;
		align-items: center;
	}

	&__content {
		margin: 3rem 3rem 0 0;

		p {
			margin: 2rem 0 2.5rem;
			line-height: 1.5rem;
		}
	}

	img {
		display: none;
		@include sm {
			display: unset;
			max-width: 350px;
		}
		// float: right;
		// shape-outside: url(/src/assets/hero_image.png);

		// shape-margin: 10px;
	}
}
