@use '../utils/' as *;

.membership {
	font-size: 1em;
	display: flex;
	flex-direction: column;
	width: 100%;
	border-bottom: $background-bd;


	&__wrapper {
		margin-top: 10rem;
		display: grid;
		
		gap: 2rem;
		grid-template-columns: minmax(270px, 300px);
		grid-template-rows: auto;
		grid-template-areas:
			'basic'
			'premium'
			'elite'
			'family';

		@include breakpointDesktop(650px) {
			grid-template-columns: repeat(2, 1fr);
			grid-template-areas:
				'basic premium'
				'elite family';
		}

		@include breakpointDesktop(1200px) {
			grid-template-columns: repeat(4, 1fr);
			grid-template-areas: 'basic premium elite family';
		}
		#basic {
			grid-area: basic;
			
		}
		#premium {
			grid-area: premium;
				}
		#elite {
			grid-area: elite;
			
		}
		#family {
			grid-area: family;
				
		}
	}
	&__card {
		@include card;

		@include breakpointDesktop(800px) {
			@include card($pdg: 3rem);
		
			max-width: 300px;
		}
		.card {
			&__content {
				
				text-align: center;
				p{
					font-weight: 600;
					font-size: 1.3rem;
					margin-top: 0.5rem;
				}
			}
			&__description {
				margin: 1.5rem 0 3rem 0;
				line-height: 2;
			}
		}
	}

	.pt {
		&__wrapper {
			position: relative;
			@include cardTransparent($pdg: 2rem);
			text-align: center;
			margin: 10rem 0;

			@include lg {
				@include cardTransparent($pdg: 3rem);
				display: flex;
				align-items: center;
				gap: 3rem;
				text-align: unset;
			}
		}
		&__content {
			@include lg {
				width: 60%;
			}
			p {
				margin: 1rem 0 7rem 0;
				@include lg {
					margin-bottom: 0;
				}
			}

			&__img {
				position: absolute;
				max-width: 140px;
				bottom: -3%;
				right: -2%;

				@include sm {
					max-width: 160px;
				}
				@include lg {
					max-width: 200px;
				}
			}
		}
	}
}
