@use '../utils/' as *;

.portfolio {
	display: flex;
	margin: 10rem 0;
	&__wrapper {
		display: grid;
		gap: 2rem;
		grid-template-columns: minmax(300px, 600px);
		grid-template-rows: repeat(6, 1fr);
		grid-template-areas:
			'programs'
			'programs'
			'evaluation'
			'pt'
			'pt'
			'partners';

		@include breakpointDesktop(1000px) {
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(2, 1fr);
			grid-template-areas:
				'programs evaluation '
				'programs pt '
				'partners pt ';
		}
	}

	&__card {
@include card;
		// -webkit-backdrop-filter: blur(20px);
		// backdrop-filter: blur(20px);
		@include md {
			@include card($pdg: 3rem);
		}
		// &:hover {
		// 	box-shadow: 0px 0px 10px rgba(0, 77, 32, 0.432);
		// }
		.card {
			&__content {
				text-align: center;
			}
			&__description {
				margin: 1rem 0 3.5rem 0;
			}

			&__img {
				max-width: 270px;
				position: absolute;
				bottom: 0px;
				left: 0px;
			}
		}
	}

	.programs {
		grid-area: programs;
	}
	.pt {
		grid-area: pt;
	}
	.partners {
		grid-area: partners;
	}
	.evaluation {
		grid-area: evaluation;
	}
}
