@use '../utils/' as *;

.portfolio {
	width: 100%;

	&__wrapper {
		margin: 0 auto;
		padding-top: 10rem;
		display: grid;
		justify-content: center;
		gap: 2rem;
		grid-template-columns: minmax(300px, 600px);
		grid-template-rows: repeat(6, 1fr);
		grid-template-areas:
			'membership'
			'membership'
			'evaluation'
			'pt'
			'pt'
			'partners';

		@include breakpointDesktop(1000px) {
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(2, 1fr);
			grid-template-areas:
				'membership evaluation '
				'membership pt '
				'partners pt ';
		}
		#membership {
			grid-area: membership;
		}
		#pt {
			grid-area: pt;
		}
		#partners {
			grid-area: partners;
		}
		#evaluation {
			grid-area: evaluation;
		}
	}

	&__card {
		@include card;
		@include breakpointMobile(390px) {
			justify-content: flex-start;
		}

		// -webkit-backdrop-filter: blur(20px);
		// backdrop-filter: blur(20px);
		@include md {
			@include card($pdg: 3rem);
			background-color: $primary-color;
		}
		
		.card {
			&__content {
				text-align: center;
			}
			&__description {
				margin: 1rem 0 3.5rem 0;
			}

			&__img {
				max-width: 200px;
				position: absolute;
				bottom: 0px;
				left: 0px;

				@include md {
					max-width: 270px;
				}
			}
		}
		#pt__img {
			@include breakpointMobile(390px) {
				left: unset;
			}
		}
	}
}


