@use '../utils/' as *;

.sign-up {
	min-height: $min-height;
	&__wrapper {
		position: relative;
		#title {
			position: absolute;
			right: 10%;
			bottom: 5%;
			color: $background-light;
			font-size: 3.82rem;
		}
	}

	&__form {
		margin: 3rem auto;

	}
	#sign-up__title {
	
		color: $primary-color;
		text-transform: uppercase;
	}

	@include md {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: auto;

		&__img {
			display: none;
		}

		&__wrapper {
			background-image: url('images/gymforfun.jpg');
			background-size: cover;
			background-position: center;
		}

		#sign-title {
			grid-column: 1 / 3;
		}
		#sign-form {
			align-self: center;
			grid-column: 3 / 5;
		}
	}
}
