@use '../utils/' as *;

.testimonials {
	margin: 10rem 0 5rem 0;
	&__wrapper {
		display: flex;
		gap: 2rem;
		overflow-x: scroll;
	}

	&__card {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		background: transparent;
		padding: 3rem;
		border-radius: 10px;
		border: 1px solid $terciary-color;
		overflow: hidden;
		max-width: 400px;
		min-width: 300px;
		blockquote p {
			margin-bottom: 1rem;
		}
	}
}
