@use '../../utils/' as *;
.evaluation {
	.form {
		&__wrapper,
		&-output__wrapper {
			display: flex;
			flex-direction: column;
			gap: 2rem;
			width: 100%;
		}
		&__wrapper {
			margin: 10rem 0 2rem 0;
			@include breakpointDesktop(800px) {
				flex-direction: row;
			}

			img {
				object-fit: cover;
				border: $prim-color2-border1;

				@include breakpointDesktop(800px) {
					width: 50%;
					min-width: unset;
				}
				@include breakpointDesktop(950px) {
					width: 55%;
				}
			}
		}
		&__evaluation {
			@include card-noflex($bg: transparent);
			@include breakpointDesktop(591px) {
				min-width: calc(100vw - 4rem);
			}
			@include breakpointDesktop(800px) {
				width: 50%;
				min-width: unset;
			}
			@include breakpointDesktop(950px) {
				width: 45%;
			}
		}
	}
	.form-output {
		&__wrapper {
			align-items: flex-start;
			@include breakpointDesktop(950px) {
				flex-direction: row;
			}

			.bmi {
				&__wrapper {
					@include card-flex-center($bg: $background-light);
					h3 {
						text-align: center;
					}
					@include breakpointDesktop(950px) {
						width: 45%;
					}
				}

				&-value {
					width: 100%;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					margin: 3rem 0 3rem 0;
					p {
						font-weight: 700;
						font-size: 2.44rem;
						margin-bottom: 0.25rem;
					}
					span {
						text-transform: uppercase;
					}
					.underweight {
						color: $scale-low-color;
					}
					.normal-weight {
						color: $scale-normal-color;
					}
					.overweight {
						color: $scale-medium-color;
					}
					.obese {
						color: $scale-high-color;
					}
				}
			}
			.fitness-plan {
				&__wrapper {
					@include card-flex-center;
					
					@include breakpointDesktop(950px) {
						width: 55%;
					}
					h3 {
						text-align: center;
					}

					ul {
						margin: 3rem 0;
					}
					.workout-exercise {
						&__wrapper {
							line-height: 1.75;
							margin-bottom: 2rem;
							display: flex;
							gap: 0.5rem;
							align-items: center;

							p:nth-child(1) {
								font-weight: 600;
							}
						}
						&__img {
							display: flex;
							align-items: center;
							justify-content: center;
							width: 50px;
							height: 50px;
							border: $prim-color2-border1;
							background-color: $white;
							img {
								width: 33px;
								height: 100%;
							}
							#bodyweight_svg {
								height: 80%;
							}
						}
					}
				}
				&__description {
					margin-bottom: 3rem;
				}
			}
		}
	}

	.blog-teaser {
		&__wrapper {
			margin-top: 7rem;
			padding: 7rem 0;
			text-align: center;
			border-top: $background-bd;
			position: relative;
			h3 {
				text-transform: uppercase;
			}
			.span-heading {
				font-size: 2.44rem;
			}
			p {
				margin: 2rem 0 3rem 0;
			}
		}
	}
}
