$primary-color: #fe763c;
$secondary-color: #04a463;
$terciary-color: #727272;
$text-dark: #202020;
$background-light: #ededed;
$alert-color: #CB321B
;

$white: #ffffff;
$black: #03001c;

$background-bd: 2px solid rgba(#202020, 0.13);

$text-font: 'Inter', sans-serif;
$headings-font: 'Syne', sans-serif;
