@use '../../utils/' as *;

.social-tracker {
	width: 100%;
	overflow: hidden;
	padding: 2rem 0;
	border-top: $background-bd;
	border-bottom: $background-bd;

	&__slider {
		display: flex;
		animation: slide 20s linear infinite;
	}

	&__list {
		display: flex;
		flex-shrink: 0;
	}
	&__item {
		display: flex;
		justify-content: center;

		p {
			margin-right: 5rem;
			font-family: $text-font;

			span {
				padding-left: 0.25rem;
				font-weight: 500;
		
			}
		}
	}
}

@keyframes slide {
	to {
		translate: calc(-6 * 200px);
	}
}
