@use '../../utils/' as *;

.membership {
	font-size: 1em;
	display: flex;
	flex-direction: column;
	width: 100%;
	border-bottom: $background-bd;

	&__wrapper {
		margin-top: 10rem;
		gap: 2rem;
		display: grid;
		justify-content: space-evenly;
		grid-template-columns: minmax(270px, 300px);
		grid-template-rows: auto;
		grid-template-areas:
			'basic'
			'premium'
			'elite'
			'family';

		@include breakpointDesktop(650px) {
			grid-template-columns: repeat(2, 270px);
			grid-template-areas:
				'basic premium'
				'elite family';
		}

		@include breakpointDesktop(1200px) {
			grid-template-columns: repeat(4, 1fr);
			grid-template-areas: 'basic premium elite family';
		}
		#basic {
			grid-area: basic;
		}
		#premium {
			grid-area: premium;
		}
		#elite {
			grid-area: elite;
			background: $tertiary-color;
			@include breakpointDesktop(1200px) {
				margin: -2rem 0 2rem 0;
			}
		}
		#family {
			grid-area: family;
		}
	}
	&__card {
		@include card-flex-center($bg: $background-color2);

		.card {
			&__content {
				width: 100%;
			}
			&__heading {
				border-bottom: $line-border;
				h3 {
					font-size: 1.3rem;
				}
				.price {
					font-weight: 600;
					font-size: 2.44rem;
					line-height: 2;
					&-unit {
						font-size: 1.3rem;
					}
				}
			}
			&__description {
				margin: 1.5rem 0 3rem 0;
				line-height: 2.25;
			}
			&__item {
				display: flex;
				gap: 0.25rem;
				align-items: center;
				.check-circle__icon {
					font-size: 1.25rem;
					color: $text-dark;
				}
			}
		}
	}

	.pt {
		&__wrapper {
			position: relative;
			@include card-noflex($bg: transparent);
			text-align: center;
			margin: 10rem 0;

			@include lg {
				@include card-noflex($pdg: 3rem, $bg: transparent);
				display: flex;
				align-items: center;
				gap: 3rem;
				text-align: unset;
			}
		}
		&__content {
			@include lg {
				width: 60%;
			}
			p {
				margin: 1rem 0 7rem 0;
				@include lg {
					margin-bottom: 0;
				}
			}

			&__img {
				position: absolute;
				max-width: 140px;
				bottom: -3%;
				right: -2%;

				@include sm {
					max-width: 160px;
				}
				@include lg {
					max-width: 200px;
				}
			}
		}
	}
}
