@import '../utils/index';

body {
	background-color: $background-light;
}
main {
	@include breakpointMobile(960px) {
		margin-top: 65px;
	}
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 2rem;

	&__xl {
		max-width: 1700px;
	}

	@include sm {
		padding: 0 1rem;
	}
}


h2 {
	margin-bottom: 2rem;
}


