@import '../utils/index';

body {
	background-color: $background-light;
}
main {
	margin-top: 117px;
}

.container {
	max-width: 1700px;
	margin: 0 auto;
	padding: 0 2rem;

	@include breakpoint('sm') {
		padding: 0 1rem;
	}
}
