/* reset basics */

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
	scroll-behavior: smooth;
}

body {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
}

img {
	display: block;
}

main {
	display: block !important;
}

.img-fluid {
	width: 100%;
	height: auto;
}
