@import '../utils/index';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Syne:wght@400..800&display=swap');

body {
	font-size: 16px;
	@include breakpointMobile(1366px) {
		font-size: 14px;
	}
	@include breakpointMobile(480px) {
		font-size: 12px;
	}
}

h1 {
	font-size: 3.82rem;
}

h2 {
	font-size: 3.05rem;
}
h3 {
	font-size: 2.44rem;
}

h4,
.medium-heading {
	font-size: 1.95rem;
}

h5 {
	font-size: 1.56rem;
}

h6,
.small-heading {
	font-size: 1.25rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $headings-font;
	color: $text-dark;
	font-weight: 700;
}
.span-heading {
	font-family: $headings-font;
	color: $primary-color;
	font-weight: 700;
}
.medium-heading {
	text-transform: uppercase;
}
.small-heading {
	font-family: $headings-font;
	color: $text-dark;
	font-weight: 700;
	text-transform: uppercase;
}
.card-subtitle {
	text-transform: uppercase;
	font-size: 1.125rem;
	font-weight: 500;
}
p,
a,
span,
li,
label,
legend {
	font-size: 1rem;
	font-family: $text-font;
	color: $text-dark;
}
.small-text-size {
	font-size: 0.875rem;
}
cite,
textarea,
input,
.form__error {
	font-size: 0.75rem;
	font-family: $text-font;
	color: $text-dark;
}

textarea,
input,
legend {
	text-transform: uppercase;
}

span,
legend {
	font-weight: 600;
}

address,
time,
cite {
	font-style: normal;
}

p {
	line-height: 1.5;
}
