@import '../utils/index';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Syne:wght@400..800&display=swap');

body {
	font-size: 16px;
	@include breakpoint(1366px) {
		font-size: 14px;
	}
	@include breakpoint(480px) {
		font-size: 12px;
	}
}

h1 {
	font-size: 3.82rem;
}

h2 {
	font-size: 3.05rem;
}

h3 {
	font-size: 2.44rem;
}

h4 {
	font-size: 1.95rem;
}

h5 {
	font-size: 1.56rem;
}

h6 {
	font-size: 1.25rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
	font-family: $headings-font;
	color: $text-dark;
	font-weight: 800;
}

p,
a,
span,
li {
	font-size: 1rem;
	font-family: $text-font;
	color: $text-dark;
}

.small {
	font-size: 0.75rem;
}
