@import '../utils/index';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Syne:wght@400..800&display=swap');

body {
	font-size: 16px;
	// @include breakpoint('sm') {
	// 	font-size: 14px;
	// }
	// @include breakpoint('md') {
	// 	font-size: 12px;
	// }
}

h1 {
	font-size: 5.61rem;
}

h2 {
	font-size: 4.21rem;
}

h3 {
	font-size: 3.15rem;
}

h4 {
	font-size: 2.37rem;
}

h5 {
	font-size: 1.77rem;
}

h6 {
	font-size: 1.33rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
label,

span {
	font-family: $headings-font;
	color: $text-dark;
	font-weight: 800;
}

p, a {
	font-size: 1rem;
	font-family: $text-font;
	color: $text-dark;
}

small {
	font-size: 0.75rem;
}
